exclude MANIFEST.in
include LICENSE.txt, README.md
include pyproject.toml
recursive-include tests *.py *.ini *.xlsx *.ipynb
recursive-include tests/test_data *
recursive-include parameters/ *
recursive-include config/emissions *
recursive-include notebooks/ *
