click
numpy
scipy
pandas
geopandas
matplotlib
seaborn
pylatex
notebook
pyyaml
quantities
pyfiglet
openpyxl
gdown
PyYAML
toml
pydantic==1.10
folium
branca
fpdf
geojson
rich
rich-click
pytest
unittest2
coverage
pint
